.addcardbody {
    padding: 20px 10%;
}

.addinput {
    width: 120px;
    height: 30px;
    background: #FBFBFB;
    border-radius: 3px 3px 3px 3px;
    opacity: 1;
    border: 1px solid #DDDDDD;
    display: flex;
    cursor: pointer;

    .addinputimg {
        margin-left: 12px;
        margin-top: 5px;
    }

    .addinputadd {
        font-size: 14px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        margin-left: 10px;
        line-height: 25px;
    }
}

/deep/.el-dialog {
    border-radius: 10px 10px 10px 10px;
}

/deep/.el-dialog__header {
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

.textStyle {
    font-size: 14px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #ffb35d;
}

.inputvalue {
    text-align: left;
    margin-left: 20px;
}

/deep/.el-form-item__label {
    font-size: 14px;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    color: #333333;
}

.footers {
    text-align: center;

    .el-button {
        width: 343px;
        height: 46px;
        background: linear-gradient(90deg, #52A3FE 0%, #396DFE 100%);
        box-shadow: 0px 0px 10px 1px rgba(47, 97, 253, 0.3500);
        border-radius: 23px 23px 23px 23px;

        span {
            font-size: 18px;
            font-family: PingFang SC-Regular, PingFang SC;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
}

.okstyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.tjok {
    font-size: 20px;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    color: #333333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
}

.card_list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -76px;
}

.cardStyle {
    cursor: pointer;
    width: 350px;
    margin-bottom: 40px;
    height: 160px;
    background: linear-gradient(90deg, #D9AF6D 0%, #E0BB7A 50%, #E9C789 100%);
    box-shadow: 0px 0px 8px 1px rgba(230, 195, 132, 0.5400);
    border-radius: 4px 4px 4px 4px;
    margin-left: 78px;
}

.bank {
    display: flex;
    padding: 20px;
    justify-content: left;

    .bankimg {
        img {
            width: 26px;
            height: 26px;
        }
    }

    .banktitle {
        margin-left: 10px;

        span {
            font-size: 20px;
            font-family: PingFang SC-Bold, PingFang SC;
            font-weight: bold;
            color: #FCFCFC;
        }
    }
}

.bank_num {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .bank_numx {
        font-size: 28px;
        font-family: PingFang SC-Bold, PingFang SC;
        font-weight: bold;
        color: #FCFCFC;
    }

    .bank_numfour {
        font-size: 28px;
        font-family: PingFang SC-Bold, PingFang SC;
        font-weight: bold;
        color: #FCFCFC;
        margin-top: -5px;
    }
}

.cardStyles {
    width: 340px;
    height: 120px;
    background: linear-gradient(90deg, #D9AF6D 0%, #E0BB7A 50%, #E9C789 100%);
    box-shadow: 0px 0px 8px 1px rgba(230, 195, 132, 0.5400);
    border-radius: 4px 4px 4px 4px;

    .bank {
        display: flex;
        padding: 20px;
        justify-content: left;

        .bankimg {
            img {
                width: 18px;
                height: 18px;
            }
        }

        .banktitle {
            margin-left: 10px;

            span {
                font-size: 16px;
                font-family: PingFang SC-Bold, PingFang SC;
                font-weight: bold;
                color: #FCFCFC;
            }
        }

    }
}

.bank_nums {
    display: flex;
    justify-content: center;
    margin-top: 17px;

    .bank_numxs {
        font-size: 24px;
        font-family: PingFang SC-Bold, PingFang SC;
        font-weight: bold;
        color: #FCFCFC;
    }

    .bank_numfours {
        font-size: 24px;
        font-family: PingFang SC-Bold, PingFang SC;
        font-weight: bold;
        color: #FCFCFC;
        margin-top: -5px;
    }
}

/deep/.el-button--default {
    width: 160px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

/deep/.el-button--primary {
    width: 160px;
    height: 40px;
    background: linear-gradient(180deg, #0C032E 0%, #5C5673 100%);
    border-radius: 20px 20px 20px 20px;
}