.workBody {
    ul {
        li {
            float: left;
            margin-left: 20px;
            width: 300px;
            background-color: red;
            height: 300px;
            margin-top: 30px;
        }
    }
}